h1{
    color: aqua; 
 }
 img{
     width: 200px;
     height:150px ;
 } 
 #thirDIV{
     height: 600px;
     width: 500px;
     background-color: black;
     padding: 50px;
     border: 10px solid; color: rgb(252, 6, 6);
 }
 #spanid{
     font-size: 18px;
     margin: 50px;
 }